
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color:  #1b1a1a;
  
}
.to-do-list{
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  color: white;
  margin-bottom: 30px;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button{
  background-color: hsl(240, 100%, 25%);
  margin-left: 5px;
  
}
.add-button:hover{
  background-color: hsl(240, 100%, 15%);
  
}

.delete-button{
  background-color: hsl(4, 100%, 25%);
  
}
.delete-button:hover{
  background-color: hsl(4, 100%, 15%);
  
}
.move-button{
  background-color: hsl(128, 100%, 20%);
  
}
.move-button:hover{
  background-color: hsl(128, 100%, 10%);
  
}
input[type="text"]{
  margin-bottom: 30px;
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0, 0);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border:3px solid hsla(0, 0%, 85% , 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 15rem;
  margin-right: 15rem;

}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}